: :root {
    --heading-background-color: #00008b;
    --img-padding: 2px;
    --img-border: 1px solid;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #00008b;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

/* Class selector */

.box {
    border: 1px solid #b71234;
    padding: 1rem;
    background-color: #cccaca;
    color: #000000;
    margin: 1rem;
}

aside {
    width: 300px;
    margin: 10px 0;
    position: relative;

}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 3rem;
}

main {
    max-width: 840px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}