: :root {
    --heading-background-color: #00008b;
    --img-padding: 2px;
    --img-border: 1px solid;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: rgb(3, 3, 109);
}

header,
.grid,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: #042849;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;/% shorthand for white %/
}

h1 {

    border-bottom: 1px solid #222;
}

main img {
    width: 19rem;
    height: auto;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 1rem;
}

/* Class selector */

.box {
    border: 1px solid #b71234;
    padding: 1rem;
    background-color: #cccaca;
    color: #1a044e;

}

aside {
    max-width: 30rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 3rem;
}

main {
    max-width: 50rem;
    grid-column: 2/3;
    margin: 1rem 0;
}

ul {
    list-style: none;
    padding: 1rem;
}

footer {
    background-color: #3e3e3e;
    color: #fff;
    padding: 2rem 1rem;
}

.grid {
    display: grid;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}